
.container{
	margin: 0 auto;
	width:1120px;
	
}

.top-part{
	margin-left: 50px;
	display:inline-block;
	float : left;
	margin-right:200px;
}


.left-bloc{
	float: left;
	width: 30%;
	margin-left: 25px;
	
}


}

.photo{
	float:right;
	margin-right:50px;
	margin-left:200px;
}

.buttoom-side{
	float: right;
	width: 65%;
	margin-left:25px;	
	border-left :2px solid blue;
}


