*{
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body,html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}


.container
{
	width: 360px;
	padding: 8% 0 0;
	margin: auto;
	
}


.form
{
	position: relative;
	z-index: 1;
	background: #AED6F1;
	margin: 0 auto 100px;
	padding: 15px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	
}



.formtitle
{
	display: block;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 30px;
    color: #333333;
    line-height: 2.2;
    text-align: center;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 255px !important;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #2E86C1 ;
  width: 85%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  /*-webkit-transition: all 0.3 ease;*/
  /*transition: all 0.3 ease;*/
  cursor: pointer;
  margin: 20px 0;
}

#success-icon {
	display : none;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #199900;
    font-size: 18px;
    padding-right: 0.5em;

	float:right;
    top: 10px;
    left: 0;
}



#failure-icon{
    display : none;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: red;
    
    padding-right: 0.5em;

	float:right;
    top: 10px;
    left: 0;
}
#confirm_password
{
	float : left;
	margin-left: 37px;
}

#confirm_password:after
{
	content :"\f14a";
}

.message{
	display:block;
}


.error input{
	border : 2px solid red;
}
.valid input{
	border : 1px solid green;
}
.error .message {
	display: block;
	color: red;
}